body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: #fff1d4;
    margin: 0;
}

button {
    padding: 0;
    border: 0;
    text-align: inherit;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none;
}

header {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    border-bottom: 2px solid black;
}

header a {
    color: black;
}

header, td.pct, td.rec {
    font-family: 'Ubuntu Mono', 'DejaVu Sans Mono', 'Liberation Mono', 'Noto Mono', monospace;
}

table {
    font-size: 18px;
    max-height: 100%;
    overflow: scroll;
    margin-bottom: 1em;
}

table.chances {
    width: 100%;
}

table.infobox.left {
    width: 30%;
}

table.infobox.center {
    margin-left: 1em;
    width: 15%;
}

table.infobox img.team-logo {
    height: 188px;
    margin: 0.5em auto;
}

span.record {
    margin-left: 1em;
    font-size: 13.5px;
    color: gray;
}

td.border {
    border-right: 2px solid black;
}

tr.head {
    background-color: white;
    border-bottom: 2px solid black;
}

table, tr, td, th {
    padding: 0;
    border-collapse: collapse;
}

table img {
    display: block;
    margin: 0 auto;
}

td.team-header {
    width: 75%;
    text-align: center;
}

table.infobox td.rec {
    background:
        linear-gradient(gray 0 0) left / 1px 78%,
        white;
    background-repeat: no-repeat;
}

tr.head img,
td.team img,
table .conference img {
    max-height: 1.75em;
    max-width: 1.75em;
}

table .conference img {
    display: inline;
    margin-left: 2em;
    margin-right: 1em;
}

td {
    padding: 0 0.25em;
    height: 2em;
}

td.date a {
    color: black;
}

td.head {
    background-color: white;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 0.25em;
}

tr.head,
td.team {
    font-weight: bold;
    height: 2em;
}

td.pct {
    text-align: right;
}

table.infobox td.head {
    padding-left: 0.5em;
}

td {
    background-color: white;
}

td.team,
td.team a {
    color: black;
}

td a:hover,
.header-nav a:hover {
    color: gray;
}

td.pct {
    width: 3.7em;
}

td, th {
    border: 0;
}

footer {
    padding: 5em;
    margin: 2em 0 0 0;
}

h1 {
    float: left;
    margin: 0;
}

.header-inner {
    padding: 1.5em;
    overflow: hidden;
}

.header-nav {
    float: right;
}

.header-nav a {
    font-size: 1.5em;
    margin: 0.67em;
}

a {
    text-decoration: none;
}

.main-wrapper {
    margin: 0 auto 0 auto;
    min-height: 100%;
}

.main {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 100px 300px 0 300px;
    background-image: linear-gradient(90deg, #fff1d4, white 8%, white 92%, #fff1d4 100%);
}

.header-inner,
.main-wrapper,
footer p {
    max-width: 1800px;
}

.header-inner,
footer p {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

td.probs-hidden {
    display: none;
}

@media (max-width: 1800px) {
    .main {
        background-color: white;
        background-image: none;
        padding: 100px 0 0 0;
    }
}
